
body{
    background-color: rgba(158, 158, 11, 0.678);
}
header{
   /* Remova o 110vw e as margens negativas */
    width: 100vw;
    height: 30vh;
    background: url("fundo_cb.jpg") no-repeat;
    background-size: cover; /* Adicione isso para o fundo não quebrar */
    position: relative;
    top: -50px;
    box-shadow: red 10px 5px 5px;
    left:-10px


}
#titulo_pagina {
    color: red;
    text-align: center;
    font-size: 40pt;
    text-shadow: 2px 2px 5px yellow;
    margin-top: 0;
    padding-top: 20px;
    margin-top: 25PX;

}


#imagem_clicavel {
    cursor: pointer;
    position: fixed;
    width: 100px;
    top: 95px; /* Ajuste a altura do topo */
    left: 0px; /* Use uma distância fixa da borda esquerda */
    z-index: 10;
}
#menu_navegacao {
display: none;
    z-index: 11;
    position: fixed;
    top: 150px; /* Coloque abaixo da imagem clicável */
    left: 0px;
    
}
#menu_navegacao ul {
    list-style-type: none;;
    display: flex;
}
#menu_navegacao ul li a {

    border: yellow 2px solid;
    border-radius: 10px;
    background-color: yellow;
    font-size: 18pt;
    text-decoration: none;
    margin-right: 15px;
    color: red;
    list-style: none;
}

#servicos{
    position: relative;
    
   
}

#fundo_pratos{
    position: relative;
    height: 1250px;
    width: 90%;
    z-index: -1;
    left: -10px;
}
.pratos{
    box-shadow: red 10px 10px 1px;
    padding: 10px;
    margin-bottom: 15px;
    position: relative; 
    top: -1100px;
    text-align: center;
    width: 60%;
    left: 10vw;
    border: yellow 2px solid;

    
}

.botao-whatsapp-fixo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.botao-whatsapp-fixo img {
    width: 35px;
    height: 35px;
}


/*------------------------ telas grandes ------------------------*/
@media (min-width: 431px) {
    #servicos{
        display: flex;
        justify-content: space-around;
    }

    .pratos{
        width: 30%;
    }




}